@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/background-image.jpg);
    /* background-position: cover; */
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}

.nav-bar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}

.logo {
    width: 150px;
    cursor: pointer;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #2667ff;
    cursor: pointer;
}
a{
    text-decoration: none;
}

nav {
    flex: 1;
    padding-left: 250px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 1px solid #457b9d;
    width: 25px;
    color: #457b9d;
    height: 0.18px;
    transition: border-bottom .3s;
}

.btn {
    box-shadow: inset 0px 1px 0 0 #bbdaf7;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #2667ff 5%, #4cc9f0 100%);
    border-radius: 15px;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 19px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94, 28, 68, .15);
    text-shadow: 0px 1px 0px #457b9d;
}

.btn:hover {
    box-shadow: 3px 8px 22px rgba(94, 28, 68, .15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/* || Content */
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    letter-spacing: .1em;
    font-size: 53px;
    color: #1641cf;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    letter-spacing: .2em;
    color: #2667ff;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 50px;
    color: #1b1b1b;
}

.content2 {
    display: flex;
    align-items: center;
}

.btn2 {
    
    background-image: linear-gradient(to right, #1a2980 0%, #26d0ce 51%, #1a2980 100%);
    margin-top: 80px;
    padding: 15px 45px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 700;
    display: block;
    border-radius: 30px;
    background-size: 200% auto;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, .15);

}

.btn2:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;

}

.social-media {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 27px;

}

.fa-brands {
    color: #2667ff;
    padding: 5px;

}

.fa-brands:hover {
    transform: scale(1.2);
    color: #1b1b1b;
    transition: .5s;

}
.image{
    height: 80vh;
    width: 35vw;
    position: absolute;
    bottom: 5vh;
    left: 37vw;
}
